@import "_vriables.scss";

.score {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  width: 90%;
  margin: 30px auto;
  padding: 0px 10px;
  font-size: 6rem;
  border: 1px solid black;
  border-radius: 3px;
  @media screen and (max-width: $mobile-width) {
    margin: 15px auto 0 auto;
    height: 60px;
  }
}

.calc-panel {
  width: 90%;
  margin: 60px auto;
  background-color: blueviolet;

  @media screen and (max-width: $mobile-width) {
    margin: 15px auto;
  }
  &__screen {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    font-size: 6rem;
    text-align: right;
    overflow: hidden;
    @media screen and (max-width: $mobile-width) {
      height: 60px;
    }
  }
  &__battons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &_batton {
      display: flex;
      font-size: 4rem;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      user-select: none;
      transition: 0.3s all;
      @media screen and (max-width: $mobile-width) {
        font-size: 3.5rem;
      }
    }
  }
}
.hight-button {
  //   height: 100px;
  font-size: 1.5rem;

  &_clear {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  &_enter {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}
.long-button {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
.del {
  font-size: 1.5rem;
}
