.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 3;
  opacity: 1;
  transition: all 0.6s;
}

.message {
  max-width: 300px;
  text-align: center;
  background: #9bc6ff;
  border: 3px solid #446ea5;
  padding: 10px;
  font-size: 1.6rem;
  line-height: 3rem;
}

.confirm {
  display: block;
  width: 50%;
  margin: auto;
  border: 3px solid #446ea5;
  background: #cfe4ff;
  font: 2rem bold;
  cursor: pointer;
}

.opacity-null {
  opacity: 0;
}

.display-none {
  display: none;
}
