@import "_drop.scss";
@import "_vriables.scss";
@import "_fild.scss";
@import "_calc.scss";
@import "_end-message.scss";

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.game {
  display: flex;
  width: 100vw;
  height: 100vh;
  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  // background-color: bisque;
  &__container_fild {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, powderblue, rgb(241, 250, 255));
    // background-image: url("../../assets/img/blue-wave.png");
    // background-repeat: no-repeat;
    // background-size: 100% 30%;
    // background-position: center bottom;
    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }
  &__calc {
    display: flex; // position: absolute;
    right: 0;
    flex-direction: column;
    top: 0;
    width: 22%;
    min-width: 260px;
    background: linear-gradient(to top, rgb(230, 211, 176), rgb(248, 246, 224));
    justify-content: start;
    align-items: center;
    @media screen and (max-width: $mobile-width) {
      position: relative;
      bottom: 0px;
      min-width: initial;
      width: 100vw;
    }
  }
}
.wave {
  height: 20%;
  background-color: blue;
  transition: 1s;
}
